body {
  background: #f7f2e4;
}

h1 {
  color: #1f1703;
  text-align: center;
}

h2 {
  text-align: center;
}

.card-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  height: 550px;
  margin: 15px;
}

.card {
  border-color: lightblue;
  border-style: solid;
  box-shadow: 1px 2px;
  border-width: 1px;
  height: 525px;
  width: 250px;
  line-height: 80%;
}

.blend {
  border-width: 1px;
  border-color: lightblue;
  border-style: solid;
  width: 250px;
  margin-bottom: 10px;
}

.availability{
  background-color: darkgray;
  color: yellow;
  line-height: 120%;
  font-weight: bold;
}

.product-info {
  text-align: justify;
}

.specs {
  font-weight: bold;
  margin: 0;
  padding: 0px 5px;
  line-height: 1%;
  text-align: justify;
}

.size {
  padding: 0px 7px;
  font-size: 14px;
}

.pricing {
  font-weight: bold;
  line-height: 1px;
  padding: 0px 5px;
}

.availability {
  padding: 0px 2px;
}

.description {
  padding: 0px 10px;
}

.tiny {
  font-size: 12px;
}

.product-info img {
  display: block;
  height: 150px;
  width: 150px;
  margin: auto;
}

.specs h4 {
  margin-bottom: 0px;
}

.specs footer {
  line-height: 100%;
}

.pricing p {
  padding: 0px 7px;
  font-size: 14px;
}
