body {
  background: #455A64;
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Overlock', cursive;
}

h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.card-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  height: 565px;
  margin: 15px;
}

.card {
  border-color: #FFC107;
  border-style: solid;
  box-shadow: 1px 1px #FFC107;
  border-width: 1px;
  height: 550px;
  width: 250px;
  line-height: 80%;
  background-color: #607D8B;
}

.blend {
  border-width: 1px;
  border-color: #FFC107;
  border-bottom-style: solid;
  width: 250px;
  margin-bottom: 10px;
}

.availability{
  background-color: #CFD8DC; 
  color: #757575; ;
  line-height: 120%;
  font-weight: bold;
}

.product-info {
  text-align: justify;
}

.specs {
  font-weight: bold;
  margin: 0;
  padding: 0px 5px;
  line-height: 1%;
  text-align: justify;
}

.size {
  padding: 0px 7px;
  font-size: 14px;
}

.pricing {
  font-weight: bold;
  line-height: 1px;
  padding: 0px 5px;
}

.availability {
  padding: 0px 2px;
}

.description {
  padding: 0px 10px;
  font-family: 'Quicksand', sans-serif;
}

.sold-out-container {
  display: block;
  position: relative;
  top: 0;
  height: 150px;
  width: 150px;
  margin: auto;
}

.imgone {
  display: block;
  height: 150px;
  width: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: 1;
}

.imgtwo {
  display: block;
  height: 150px;
  width: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: 2;
}

.tiny {
  font-size: 12px;
}

.product-info img {
  display: block;
  height: 150px;
  width: 150px;
  margin: auto;
}

.specs h4 {
  margin-bottom: 0px;
}

.specs footer {
  line-height: 100%;
}

.pricing p {
  padding: 0px 7px;
  font-size: 14px;
}
